@model OwnBI.ViewModels.TagCloudViewModel

@{
    ViewBag.Title = "_tagCloud";
}

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        <div id="tagCloud@(Model.Title.Replace(" ", ""))" style="height: 250px;"></div>
    </div>
</div>

<script>
    var words = [

        @foreach(var tag in Model.Tags)
        {
            <text>{ text: '@tag.Key', weight: @tag.Value.ToString() },</text>
        }

    ];

    $('#tagCloud@(Model.Title.Replace(" ", ""))').jQCloud(words, {
        autoResize: true, 
        fontSize: {
            from: 0.08,
            to: 0.04
        }
    });
</script>